body {
    font-family: Arial, sans-serif;
}

/* general */

.jumbotron {
    text-align: center;
    padding-left: 20px; /* text indent */
}

.parent-container {
    display: flex;
}

.display-row {
    padding: 24px;
    background-color: white;
    border: 1px solid #ddd;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
}

span {
    font-weight: bold;
}

.chart {
    margin-bottom: 16px;
}

.text-muted {
    font-size: 0.9em;
}

/* statsbox */
.card {
    border: none !important; /* override card default */
}

.card-title {
    font-size: 2em;
}

.card-subtitle {
    font-size: 1.5em;
}

.card-text {
    font-size: 1.2em;
    margin-bottom: 8px;
}
